.highlight {
  .hll { background-color: #d4ecff; }
  .c, .cm, .c1, .cs, .cp { color: #4a6278; }
  .err, .gr { color: #a43143; background-color: #fde9ee; }
  .k, .kc, .kd, .kn, .kp, .kr, .kt { color: #15578d; }
  .o, .ow, .p { color: #2a4860; }
  .m, .mf, .mh, .mi, .mo, .il { color: #854913; }
  .s, .s1, .s2, .sb, .sc, .sd, .se, .sh, .si, .sr, .sx, .ss { color: #97421e; }
  .na, .nb, .nt, .nv, .vc, .vg, .vi, .bp { color: #255a96; }
  .nc, .nf, .nd, .nn, .ne, .no, .nl { color: #126171; }
  .ni, .go, .w { color: #4a6278; }
  .gh, .gu, .gp, .gt { color: #15578d; }
  .gd { background-color: #fde9ee; color: #a43143; }
  .gi { background-color: #dbf3eb; color: #126151; }
  .ge { font-style: italic; }
  .gs { font-weight: 700; }
}

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #2a4860;
}
